[Unit]
Description=[LEO] Elasticsearch
After=network.target

[Service]
Type=simple
User=leo
Group=leo
Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
Environment=ES_BUNDLED_JDK=false
Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
Environment=PID_DIR=/data/elasticsearch
Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
Environment=ES_TMPDIR=/tmp

ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
ExecStop=pkill -F /data/elasticsearch/pid

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity

Restart=always
RestartSec=3
# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Send the signal only to the JVM rather than its control group
KillMode=process

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

# Allow a slow startup before the systemd notifier module kicks in to extend the timeout
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target[Unit]
Description=Elasticsearch
After=network.target

[Service]
Type=simple
User=leo
Group=leo
Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
Environment=ES_BUNDLED_JDK=false
Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
Environment=PID_DIR=/data/elasticsearch
Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
Environment=ES_TMPDIR=/tmp

ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
ExecStop=pkill -F /data/elasticsearch/pid

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity

Restart=always
RestartSec=3
# Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target[Unit]
# Description=Elasticsearch
# After=network.target
#
# [Service]
# Type=simple
# User=leo
# Group=leo
# Environment=ES_JAVA_HOME=/home/leo/work/software/jdk
# Environment=ES_BUNDLED_JDK=false
# Environment=ES_HOME=/home/leo/work/software/elasticsearch-7.17.10
# Environment=ES_PATH_CONF=/home/leo/work/software/elasticsearch-7.17.10/config
# Environment=PID_DIR=/data/elasticsearch
# Environment=ES_JAVA_OPTS="-Xmx256m -Xms256m"
# Environment=ES_TMPDIR=/tmp
#
# ExecStart=/home/leo/work/software/elasticsearch-7.17.10/bin/elasticsearch -p /data/elasticsearch/pid
# ExecStop=pkill -F /data/elasticsearch/pid
#
# LimitNOFILE=65535
# LimitNPROC=4096
# LimitAS=infinity
# LimitFSIZE=infinity
#
# Restart=always
# RestartSec=3
# # Disable timeout logic and wait until process is stopped
# TimeoutStopSec=0
#
# # SIGTERM signal is used to stop the Java process
# KillSignal=SIGTERM
#
# # Send the signal only to the JVM rather than its control group
# KillMode=process
#
# # Java process is never killed
# SendSIGKILL=no
#
# # When a JVM receives a SIGTERM signal it exits with code 143
# SuccessExitStatus=143
#
# # Allow a slow startup before the systemd notifier module kicks in to extend the timeout
# TimeoutStartSec=900
#
# [Install]
# WantedBy=multi-user.target