[client]
port	= 3306
socket	= /var/run/mysqld/mysqld.sock

[mysql]
prompt = "\u@FJP \R:\m:\s [\d]> "
no_auto_rehash
loose-skip-binary-as-hex

[mysqld]
# 基本配置
user                   = mysql
port                   = 3306
basedir                = /usr/
datadir                = /var/lib/mysql/
pid-file               = /var/run/mysqld/mysqld.pid
socket                 = /var/run/mysqld/mysqld.sock


tmpdir                 = /tmp
lc-messages-dir        = /usr/share/mysql
bind-address           = 0.0.0.0
default_time_zone      = "+8:00"

# 日志配置
log_error              = /var/log/mysql/error.log
slow_query_log_file    = /var/log/mysql/mysql-slow.log
slow_query_log         = 1
long_query_time        = 1.0

# 二进制日志
log_bin               = /var/log/mysql/mysql-bin.log
binlog_format         = ROW
binlog_row_image      = FULL
expire_logs_days      = 7
max_binlog_size       = 100M
sync_binlog           = 1
server-id             = 2

# 字符集配置
character-set-server   = utf8mb4
collation-server       = utf8mb4_general_ci

# 连接配置
max_connections        = 100
max_connect_errors     = 100
connect_timeout        = 10
wait_timeout           = 600
interactive_timeout    = 28800

# InnoDB配置
transaction_isolation   = REPEATABLE-READ
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 48M
innodb_file_per_table   = 1
innodb_flush_method     = O_DIRECT
innodb_flush_log_at_trx_commit = 1

# 安全配置
sql_mode             = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
symbolic-links       = 0